a {
  text-decoration: none;
  color: inherit;
}
.fixed { 
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 44px;
  border-radius: 7px;
  border: 2px solid black;
}
.tabs li {
  background-color: white;
  /* border-top: 2px solid black !important;
  border-bottom: 2px solid black !important; */
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
   
}
.header {
  /* background-image: url("./images/01.jpg");
  background-repeat: repeat-x;
  animation: slideleft 8000s infinite linear;
  -webkit-animation: slideleft 8000s infinite linear; */
  text-align: center;
  max-width: 100%;
  margin: 0px 0 0 0;
  height: 50vh;
}
.header {
  background: rgb(0, 255, 255);
  background: -webkit-linear-gradient(45deg, rgb(0, 255, 255) 0%, rgba(0, 179, 255, 1) 33%, rgb(0, 255, 255) 66%, rgba(0, 179, 255, 1) 100%);
  background: -moz-linear-gradient(45deg, rgb(0, 255, 255) 0%, rgba(0, 179, 255, 1) 33%, rgb(0, 255, 255) 66%, rgba(0, 179, 255, 1) 100%);
  background: -ms-linear-gradient(45deg, rgb(0, 255, 255) 0%, rgba(0, 179, 255, 1) 33%, rgb(0, 255, 255) 66%, rgba(0, 179, 255, 1) 100%);
  background: -o-linear-gradient(45deg, rgb(0, 255, 255) 0%, rgba(0, 179, 255, 1) 33%, rgb(0, 255, 255) 66%, rgba(0, 179, 255, 1) 100%);
  background: linear-gradient(45deg, rgb(0, 255, 255) 0%, rgba(0, 179, 255, 1) 33%, rgb(0, 255, 255) 66%, rgba(0, 179, 255, 1) 100%);
  background-size: 400% 400%;
  -webkit-animation: scollBG 5s linear infinite;
  -moz-animation: scollBG 5s linear infinite;
  animation: scollBG 5s linear infinite;
}

@-webkit-keyframes scollBG {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

@-moz-keyframes scollBG {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

@keyframes scollBG {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}
.header h2 {
  color: white;
  font-size: 3em;
  padding-top: 8vw;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.for-hire-button {
  margin-top: 5vh;
}
.content-container {
  padding: 2vw 0 3.5rem 0;
  width: 100vw;
  margin: 0 auto 0 auto;
  text-align: center;
}
.content-container h3 {
  font-size: 2.5em;
}
.left-container, .right-container {
  display: inline-block;
  vertical-align: top;
}
.header-container {
  display: inline-block;
}
.header-container hr {
  margin-top: 0.5rem;
  border: 1px solid rgb(0, 255, 255);
}
.left-container {
  text-align: left;
  width: 40vw;
  margin-right: 15vw;
}
.left-container p {
  padding-bottom: 1em;
}
.right-container {
  margin-top: 2.5rem;
  background-image: url("./images/uni.png");
  width: 15vw;
  height: 15vw;
  background-repeat: no-repeat;
  background-size: contain;
}
.course-container {
  margin: 0 auto 0 auto;
  width: 60vw;
}
.course {
  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: rgb(34, 34, 34);
  padding: 2px 10px 2px 10px;
  margin: 4px 5px 4px 5px;
}
.course a:hover {
  color: rgb(35, 226, 240);
}
h5 {
  font-weight: 600;
}
/* Colours */
.first-color {
  background-color: #241f1f;
  color: white;
}
/* .first-color a {
  color: rgb(255, 0, 98);
}
.first-color a:hover {
  color: rgba(255, 0, 98, 0.747);
} */
.first-color a {
  color: rgb(0, 255, 255);
}
.first-color a:hover {
  color: rgba(0, 255, 255, 0.747);
}
/* Project Page */
.projects-page h3 {
  font-weight: 600;
  font-size: 2em;
  text-decoration: underline;
}
.projects-container {
  width: 100vw;
  margin: 0 auto 0 auto;
  text-align: center;
}
.left-project, .right-project {
  display: inline-block;
  vertical-align: top;
}
.one .left-project {
  width: 50vw;
  text-align: left;
}
.one .right-project {
  width: 30vw;
}
.two .left-project {
  width: 30vw;
}
.two .right-project {
  width: 50vw;
  text-align: right;
}
.one:first-child {
  padding-top: 60px;
}
.one, .two {
  padding-bottom: 20px;
}
.one {
  background-color: whitesmoke;
}
.two {

}
.tag {
  margin: 0px 2px 0 2px;
}